:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-black);
  background-color: var(--color-black);
}

button {
  border: none;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.header-logo {
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.header-logo img {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: fit-content;
}

.menu-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-group li {
  margin-right: 15px;
}

.menu-group li:last-child {
  margin: 0;
}

.menu-group li > *:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.img-btn {
  width: 50px;
}

.color-btn {
  display: block;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 40px;
}

.color-btn.blue {
  background-color: var(--color-blue);
}

.color-btn.yellow {
  background-color: var(--color-yellow);
}

.color-btn.pink {
  background-color: var(--color-pink);
}

.item-list {
  height: 60vh;
  margin: 0 auto;
  overflow-y: scroll;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.item-list li {
  display: flex;
  align-items: center;
  margin: 5px auto;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
}

.item-list li img {
  width: 35px;
  margin-right: 15px;
}

.hide {
  display: none;
}